<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
{{#userName}}
    Logged in as : <span id="user"> {{userName}}</span>
    <a href="/logout" class="btn btn-info" role="button"> Logout </a>
{{/userName}}

{{^userName}}
    <div style="position: absolute; top: 40%; left: 115px">
    <a href="/oauth2/authorization/google" > <img src="/images/google-login.PNG" width="750px" height="150px"> </a><br>
    <a href="/oauth2/authorization/naver" > <img src="/images/naver-login.PNG" width="750px" height="150px"> </a> <br>
    <a href="/oauth2/authorization/kakao" > <img src="/images/kakao-login.PNG" width="750px" height="150px"> </a>
    </div>
{{/userName}}

</body>
</html>