{{>layout/header}}

<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <button class="navbar-toggler ml-auto custom-toggler" id="sidebtn" style="background-color: #e3f2fd;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="/">
            <img class="photo" width="30" height="30" src="/balbal.svg">
        </a>
        {{^userName}}
            <p class="fst-italic">Naduri </p>
        {{/userName}}
        {{#userName}}
            <button onclick="location.href='/makeCourse'"> 코스등록 </button>
        {{/userName}}
    </div>
    <div id="map">

    </div>
</nav>
<!--<div class="collapse" id="navbarToggleExternalContent" >-->
<!--    <div class="bg-white p-4">-->
<!--        <h5 class="text-dark h4">Collapsed content</h5>-->
<!--        <span class="text-muted">Toggleable via the navbar brand.</span>-->
<!--    </div>-->
<!--</div>-->
<div id="sidebar" style="position:absolute; background:#e3f2fd; width:700px; height:100%; top:0; left:-700px;z-index: 10;transition: 1s;"   >
    {{^userName}}
    <a href="/signin">
        <div id="login">
            <i class="fas fa-user-alt"></i>
            <span>로그인을 해주세요</span>
    {{/userName}}
                {{#userName}}
                <div id="login">
                {{#userPicture}}
                    <img src="{{userPicture}}">
                {{/userPicture}}
                {{^userPicture}}
                    <i class="fas fa-user-alt"></i>
                {{/userPicture}}
                    <a href="/logout"> 로그아웃 </a>
                {{/userName}}

        </div>
    </a>
    <hr>
    <i id="exit3" class="fas fa-times-circle" style="position:absolute; right:0; top:0; font-size:30px; margin-right:10px; margin-top:10px; " ></i>
    <ul style="list-style:none; margin:0;">
        <li>나의 코스 목록</li>
        <li>나의 코스 목록</li>
        <li>나의 코스 목록</li>
        <li>나의 코스 목록</li>
        <li>나의 코스 목록</li>
    </ul>
</div>
<!--nav-->

<div class="location">
    <div id="address1"></div>
</div>
<div class="card w-100">
    <div class="card-body">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="card text-center">
                        <div class="card-header">
                            일단 주소
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <img src="http://naduri.iptime.org:8888/user/0ed402f199cfc5ee4344d7aaa3e25a3d2f362ec5773428fb7deaf5fb1a6ec663.jpg" width="170" height="170" alt="사진">
                                </div>
                                <div class="col-5">
                                    <h5 class="card-title">수원나들이 코스</h5>
                                    <a href="/" style="color:black" class="btn btn-primary">별점+코멘트
                                        <img src="/star.png" class="rounded" width="15" height="15" alt="리뷰 목록으로">
                                        <img src="/star_half.png" class="rounded" width="15" height="15" alt="리뷰 목록으로">&nbsp;2.5
                                    </a>
                                    <p class="card-text">유저이미지+아이디</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            게시일(ex_2021.01.02)
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card text-center">
                        <div class="card-header">
                            [해??]경기도 수원시 장안구 장안로 458(이목동)
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <img src="/temp2.jpeg" width="170" height="170" alt="사진">
                                </div>
                                <div class="col-5">
                                    <h5 class="card-title">태그(ex_#수우우우우)</h5>
                                    <a href="/" style="color:black" class="btn btn-primary">별점+코멘트
                                        <img src="/star.png" class="rounded" width="15" height="15" alt="리뷰 목록으로">
                                        <img src="/star_half.png" class="rounded" width="15" height="15" alt="리뷰 목록으로">&nbsp;4.5
                                    </a>
                                    <p class="card-text">유저이미지+아이디</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            게시일(ex_2021.01.03)
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="card text-center">
                        <div class="card-header">
                            [???]경기도 수원시 장안구
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-7">
                                    <img src="/temp1.jpeg" width="170" height="170" alt="사진">
                                </div>
                                <div class="col-5">
                                    <h5 class="card-title">태그(ex_#수원#권선동)</h5>
                                    <a href="/" style="color:black" class="btn btn-primary">별점+코멘트
                                        <img src="/star.png" class="rounded" width="15" height="15" alt="리뷰 목록으로">
                                        <img src="/star_half.png" class="rounded" width="15" height="15" alt="리뷰 목록으로">&nbsp;3.5
                                    </a>
                                    <p class="card-text">유저이미지+아이디</p>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            게시일(ex_2021.01.03)
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

{{>layout/footer}}