<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
    <style>
        #bum{position:absolute; left:30%; top:50%;}
        .btn{width:300px; height:50px; display:block; margin-top:20px; font-size:20px;}
    </style>
</head>

<body>

    <div id="bum">
        <button class="btn" id="google" type="button" onclick="location.href='/oauth2/authorization/google'"><i class="fab fa-google"></i> 구글 아이디로 로그인</button>
        <button class="btn" onclick="location.href='/oauth2/authorization/naver'"><i class="fab fa-neos"></i> 네이버 아이디로 로그인</button>
        <button class="btn" onclick="location.href='/oauth2/authorization/kakao'"> 카카오톡 아이디로 로그인</button>
    </div>
</body>
</html>