<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body>
    <form action="/signupuser" method="post">
        성별:<br>
        <input name="gender" value="Male" type="radio" required /> 남자 <br>
        <input name="gender" value="Female" type="radio" required /> 여자 <br>
        나이 <input name="age" type="number" min="1" max="200" required/>

        <input type="submit" value="회원가입하기">
    </form>

</body>
</html>